code {
  background-color: #eee;
}
pre code {
  border: 1px solid;
  display: block;
}
pre {
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  margin-top: 25px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
}
